@media(min-width: 1100px) {
    label
    {
        display: none;
    }


    .main__wrapper {
        background-image: url(../images/banner/banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .header {
        background-color: transparent;
        min-height: 8vh;
    }


    .header__logo {
        width: 10%;
        height: 11%;
        padding: 1%;
    }


    #toggle:checked+.nav { 
        position: static;
    display: flex;
    background-color: transparent;
    height: auto;
    width: auto;
    text-align: start;
    position: relative;
    }

    #toggle:not(:checked)+.nav{
        position: static;
        display: flex;
        background-color: transparent;
        height: auto;
        width: auto;
        text-align: start;
        position: relative;
    }

    .header__nav {
        height: auto;
        width: auto;
        padding: 15px 0;
    }

    .nav__item {
        padding: 0 5%;
        position: relative;
    }

    .nav__item:first-child{
        padding-left: 0%;
    }

    .nav__link:hover,
    .nav__link-firstarrow:hover,
    .nav__link-secondarrow:hover {
        text-decoration: none;
        color: var(--color-alfa);
        padding: 0 2%;
        text-decoration: underline;
    }

    .nav__link,
    .nav__link-firstarrow,
    .nav__link-secondarrow {
        text-decoration: none;
        color: var(--color-alfa);
        padding: 0 2%;
        font-size: 1.2rem;
    }

    .nav__link-firstarrow::after {
        content: '>';
        transform: rotate(90deg);
        position: absolute;
        height: 25%;
        top: 13px;
        left: 75px;
        font-size: 1rem;
        color: var(--color-alfa);
    }

    .nav__link-secondarrow::after {
        content: '>';
        transform: rotate(90deg);
        position: absolute;
        height: 25%;
        top: 13px;
        left: 93px;
        font-size: 1rem;
        color: var(--color-alfa);
    }

    .nav__dropdown {
        list-style: none;
        position: absolute;
        display: none;
        top: 30px;
        left: 23%;

    }

    .dropdown__link {
        width: 20%;
        display: block;
        background-color: transparent;
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        padding-top: 1%;
    }

    .dropdown__link:hover {
        width: 20%;
        display: block;
        background-color: transparent;
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        text-decoration: underline;
    }


    .nav__item:hover>.nav__dropdown {
        display: block;
    }



    .header__cta {
        display: block;
        text-decoration: none;
        border-radius: 5%;
        text-align: center;
        width: 10%;
        padding: 1%;
        color: var(--color-alfa);
        background-color: var(--color-xi);
    }

    .header__cta:hover {
        display: block;
        text-decoration: none;
        border-radius: 5%;
        text-align: center;
        width: 10%;
        padding: 1%;
        color: var(--color-alfa);
        background-color: #40AFF9;
    }

    .product__title {
        padding: 20% 0 4% 0;
    }

    .product__content {
        background-image: none;
    }

    .product__wrapper {
        justify-content: space-around;
        display: flex;
        max-width: 90%;
        padding-top: 5%;
    }

    .product__picture {
        width: 100%;
    }
    .product__picture:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
    .product__cta {
        border-radius: 4px;
        width: 40%;
        font-size: 1.1rem;
    }
    .product__cta:hover {
        width: 40%;
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 3% 1%;
        background-color: #25F3F7;
        color: var(--color-alfa);
    }

    .features__icon {
        width: 100px;
        height: 100px;
    }


    .details {
        max-width: 90%;
        justify-content: space-between;
        min-height: 40vh;
    }

    .details__text {
        max-width: 70%;
    }

    .details__cta {
        width: 20%;
        padding: 2% 1%;
        border-radius: 4px;
    }

    .details__cta:hover {
        width: 20%;
        padding: 2% 1%;
        border-radius: 4px;
        background-color: var(--color-xi);
    }


    .pricing__list {
        flex-direction: row;
        max-width: 90%;
        padding-bottom: 10%;
    }

    .pricing__items {
        min-height: 35vh;
    }

    .pricing__element--team {
        padding: 7% 0;
    }

    .download {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        min-height: 50vh;
    }

    .download__title {
        width: auto;
        padding: 0 0 3% 5%;
    }

    .download__sources {
        justify-content: center;
        width: auto;
        padding: 0 5% 3% 0;

    }

    .summary {
        min-height: 25vh;
    }

    .summary__container {
        padding-top: 8%;
        max-width: 90%;
        column-gap: normal;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-areas:
            "motto services link downloads"
    }

    .summary__motto {
        padding-top: 0;
        padding-bottom: 0;
    }

    .summary__services {
        padding-top: 0;
    }

    .title {
        padding-bottom: 8%;
    }

    .motto__title {
        padding-bottom: 5%;
    }

    .motto__text {
        padding-bottom: 0;
        max-width: 50%;
    }


    .social__circle {
        width: 15%;
        height: 80%;
        margin: 8% 1%;
    }

    .summary__social {
        padding-bottom: 30%;
    }

    .product__title,
    .features__title,
    .details__title,
    .review__title,
    .pricing__title,
    .download__title {
        font-size: 2.5rem;
    }

    .services__item,
    .links__item,
    .downloads__item,
    .motto__text {
        font-size: 0.9rem;
    }

    .downloads__item:hover,
    .links__item:hover,
    .services__item:hover {
        color: var(--color-alfa);
        font-size: 0.9rem;
    }



    .review__text {
        font-size: 1.3rem;
    }

    .review__stars {
        font-size: 1rem;
    }

    .face:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      
    @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}