@media(min-width: 550px) {

    .header__logo {
        width: 18%;
        height: 10%;
    }

    label {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 5%;
        height: 5%;
        top: 1.5%;
        right: 2%;
     }

     .nav__item {
        padding-top: 1%;
    }

    .product__content {
        background-position: bottom;
        min-height: 45vh;
    }

    .product__wrapper {
        justify-content: space-between;
        display: flex;
        max-width: 70%;
        padding-top: 5%;
    }

    .product__text {
        font-size: 1rem;
    }

    .product__picture-container {
        padding-top: 4%;
    }

    .product__wrapper {
        flex-basis: 50%;
    }

    .product__picture {
        width: 100%;
        height: 105%;
    }

    .features {
        padding-top: 3%;
    }

    .features__list {
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10%;
    }

    .features__item {
        flex-basis: 100%;
    }

    .features__icon {
        width: 80px;
        height: 80px;
    }

    .features__picture {
        height: 100%;
        width: 50%;
        margin: 0 auto;
    }

    .details {
        display: flex;
        max-width: 70%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 5%;
    }

    .details__description,
    .details__picture-container {
        flex-basis: 100%;

    }

    .details__text {
        padding-bottom: 7%;
    }


    .details__cta {
        width: 50%;
        font-weight: 400;
        border-radius: 4px;
    }

    .details__cta:hover {
        width: 50%;
        font-weight: 400;
        border-radius: 4px;
        background: var(--color-xi);
    }

    .review__example {
        padding: 12% 7%;
    }

    .pricing {
        min-height: 60vh;
    }

    .pricing__list {
        flex-direction: row;
        max-width: 70%;
        padding-bottom: 10%;
    }

    .pricing__element {
        padding: 9% 0;
    }

    .pricing__element--team {
        padding: 5% 0;
    }


    .pricing__items {
        flex-basis: 100%;
        min-height: 28vh;
    }

    .pricing__infos {
        padding: 7% 20% 0 20%;
        flex-basis: 100%;
    }

    .pricing__items--team {
        z-index: 1;
        transform: scale(1.1);
        box-shadow: 5px 0px 20px #efeaea;
        background-color: var(--color-alfa);
    }

    .pricing__cta-container {
        padding-top: 5%;
    }


    .pricing__name {
        width: 100%;
        padding: 6% 0;
    }

    .pricing__cta {
        width: 40%;
    }

    .pricing__cta:hover {
        width: 40%;
    }

    .download {
        text-align: start;
    }

    .download__title {
        width: 70%;
    }

    .download__sources {
        justify-content: flex-end;
        max-width: 60%;
    }

    .download__icon {
        height: 30%;
        flex-basis: 0;
    }

    .summary__container {
        max-width: 70%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20%;
        grid-template-areas:
            "motto services"
            "link downloads"
    }

    .summary__motto {
        padding-top: 12%;
        padding-bottom: 0;
    }

    .summary__services {
        padding-top: 12%;
    }

    .motto__title {
        padding-bottom: 3%;
    }

    .motto__text {
        font-size: 0.8rem;
        padding-bottom: 7%;
    }

    .social__circle {
        width: 33%;
    }

    .summary__social {
        width: 50%;

    }

    .summary__downloads {
        padding: 0;
    }


}